
<div class="card mb-3" style="width: 100%;">
<div class="row g-0">
    <div class="col-md-8">
    <div class="card-body">
        <h1 class="card-title"><%=task.name %></h1>
        Description:
        <p><%=task.description%></p>
        Status:
        <p><%=task.status%></p>
        Location Type:
        <p><%=task.location_type%></p>
        City:
        <p><%=task.city%></p>
        State: 
        <p><%=task.state%></p>
        Zip Code:
        <p><%=task.zip%></p>
        <% if task.employer_id == current_user.id %>
            <%= link_to "Edit", edit_task_path %>
            <% if task.status == 'open' %>
            <%= link_to "Delete", @task, method: "delete", data: {confirm: "Are you sure you would like to delete this task?"} %>
            <% end %>
        <% end %>
    </div>
    </div>
</div>
</div>
<br>
<% if current_user.account_type == 1 %>
    <% if !current_user.tasks.include?(task) %>
        <form action="/tasks/<%=task.id%>" method="POST">
            <input class="btn btn-primary" name="id" type="submit" value="Apply for this Task">
            </input>
        </form>
        <% else %>
            <form action="/tasks/<%=task.id%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input class="btn btn-success" name="id" type="submit" value="Applied">
                </input>
            </form>
            </div>
        <% end %> 
<% end %>

<br>
<%= link_to "Back", :back %>
