<br>
<div class="items-center flex-wrap -mx-3 mb-6" >
<div class="uppercase tracking-wide text-gray-800 text-xs font-bold mb-2">
    <div class="col-md-8">
    <div class="card-body text-base">
        <h1 class="card-title"><%=task.name %></h1>
        Description:
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.description%></p>
        </div>
        Status:
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.status%></p>
        </div>    
        Location Type:
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.location_type%></p>
        </div>
        City:
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.city%></p>
        </div> 
        State: 
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.state%></p>
        </div>
        Zip Code:
        <div class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
            <p><%=task.zip%></p>
        </div>
        <% if task.employer_id == current_user.id %>
            <button class="bg-gray-800 w-full text-white font-bold py-2 px-4 rounded ">
            <%= link_to "EDIT", edit_task_path %>
            </button>
            <br>
            <% if task.status == 'OPEN' %>
            <br>
            <button class="bg-gray-800 w-full text-white font-bold py-2 px-4 rounded ">
                <%= link_to "DELETE ", @task, method: "delete", data: {confirm: "Are you sure you would like to delete this task?"} %>
            </button>
                <% end %>
        <% end %>
    </div>
    </div>
</div>
</div>
<br>
<% if current_user.account_type == 1 %>
    <% if !current_user.tasks.include?(task) %>
        <form action="/tasks/<%=task.id%>" method="POST">
            <input class="btn btn-primary" name="id" type="submit" value="Select this Task">
            </input>
        </form>
    <% else %>
        <div class="bg-green-500 w-full text-white font-bold py-2 px-4 rounded" >
            YOU ARE CURRENTLY WORKING ON THIS TASK
        </div>
        <form action="/tasks/<%=task.id%>" method="POST">
            <input class="btn btn-primary" name="id" type="submit" value="MARK AS COMPLETED">
            </input>
        </form>
            
    <% end %> 
    </div>
<% end %>

<br>
<%= link_to "Back", :back %>
