<%= form_for task do |f| %>
    <%= f.label :"Title:" %>
    <%= f.text_field :name,  class: 'form-control' %>
    <br>
    <%= f.label :"Description:" %>
    <%= f.text_area :description, class: 'form-control' %>
    <br>
    <%= f.label :"Price:" %>
    <%= f.number_field :price, step: 0.01, class: 'form-control' %>
    <br>
    <%= f.label :"Status:" %>
    <%= f.select :status, options_for_select(["open", "assigned", "cancelled", "closed"]), class: 'form-control'%>
    <br>
    <%= f.label :"Location Type:" %>
    <%= f.select :location_type, options_for_select(["online", "physical"]), class: 'form-control' %>
    <br>
    <%= f.label :"City:" %>
    <%= f.text_field :city, class: 'form-control' %>
    <br>
    <%= f.label :"State:" %>
    <%= f.select :state, options_for_select(["AL", "AK", "AZ", "AR",
    "CA", "CO", "CT", "DE", "DC", "FL", "GA", "HI", "ID", "IL", 
    "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", 
    "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", 
    "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", 
    "UT", "VT", "VA", "WA", "WV", "WI", "WY" ]), class: 'form-control' %>
    <br>
    <%= f.label :"Zip Code:" %>
    <%= f.text_field :zip, class: 'form-control' %>
    <br>
    
    <%= f.label 'Select Category:' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
    or create a new category:
        <%= f.fields_for :category do |category_fields|%>
            <%= category_fields.text_field :name %>
        <% end %>
    <div class="d-grid gap-2">
        <%= f.submit 'Submit', class: 'btn btn-custom' %>
    </div>
<% end %>