<!DOCTYPE html>
<html>
  <head>
    <title>ModelsAndRoutes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navbar-list">
      <a class="navbar-link <%= root_path%>" href="/">FlexWork</a>
      <a class="navbar-link <%= root_path%>" href="/about">About</a>
      <a class="navbar-link <%= new_employer_path%>" href="/employers/new">Join</a>
      <a class="navbar-link <%= new_contractor_path%>" href="/contractors/new">Join as a Contractor</a>
        </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  <footer class="site-footer">
  </footer>
</html>
