<!DOCTYPE html>
<html>
  <head>
    <title>FlexWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="bg-gray-800" >
  <body>
  <nav class="container px-6 py-4 mx-auto lg:flex lg:justify-between lg:items-center">
    <div class="flex items-center justify-between">
      <a class="text-xl font-bold text-white transition-colors duration-300 transform md:text-2xl hover:text-indigo-400"
      href="/">FlexWork</a>
    </div>
  <% if is_logged_in? %>
    <div :class="isOpen ? 'flex' : 'hidden'" class="flex-col mt-2 space-y-4 md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0">
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/about">About</a>
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/categories">Categories</a>
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/logout">Log Out</a>
    <% if current_user.account_type == 2 %>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/tasks/new">New Task</a>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/users/<%= current_user.id %>/tasks">Your Tasks</a>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/users/<%= current_user.id %>">Account</a>
      <% else %>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/users/<%= current_user.id %>/tasks">Your Tasks</a>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
      href="/users/<%= current_user.id %>">Account</a>
      <% end %>
  <% else %>
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
    href="/about">About</a>
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
    href="/users/new">Join</a>
    <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
    href="/login">Log In </a>
    </div>
  <% end %>
  </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  </header>
</html>