<!DOCTYPE html>
<html>
  <head>
    <title>FlexWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navbar-list">
      <% if is_logged_in? %>
      <a class="navbar-link <%= root_path%>" href="/">FlexWork</a>
      <a class="navbar-link <%= root_path%>" href="/about">About</a>
      <a class="navbar-link <%= root_path%>" href="/logout">Log Out</a>
      <% if current_user.account_type == 2 %>
        <a class="navbar-link <%= root_path%>" href="/tasks/new">New Task</a>
      <% end %>
    <% else %>
      
      <a class="navbar-link <%= root_path%>" href="/">FlexWork</a>
      <a class="navbar-link <%= root_path%>" href="/about">About</a>
      <a class="navbar-link <%= new_user_path%>" href="/users/new">Join</a>
      <a class="navbar-link <%= login_path%>" href="/login">Log In</a>
    <% end %>
        </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  <footer class="site-footer">
  </footer>
</html>